@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.preflight * {
  @apply box-sizing border-box margin-0 padding-0;
}