@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.image-slide {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.active {
  opacity: 1;
}